@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(228, 203, 229);
    color: rgb(176, 143, 207);
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 48px ;
    position: sticky;
    background-color: transparent;
    top: 0;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgb(138, 121, 121);
}
.nav_logo{
    display: flex;
    align-items: center;
    gap: 6px;
}
.nav_links{
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav_links a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: blueviolet;
}
.nav-links a:hover{
    color: darkorchid;
}
.nav_actions{
    display: flex;
    align-items: center;
    gap: 14px;   
}
.nav_cart{
    color: slategrey;
    display: flex;
    align-items: center;
    gap: 4px;
}
.btn_entrar{
    background-color: darkviolet;
    color: aliceblue;
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    gap: 6px;
    transform: background .2s, transformm .15s;
}
.btn_entrar:hover{
    background: purple;
    transform: translate(-1px);
}
.btn_entrar svg{
    width: 14px; height: 14px;
}
.hero{
    padding: 60px 48px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.hero_topo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
}
.hero_text{
    flex: 1;
    min-width: 400px;
}
.hero_title{
    font-family: "Croissant One", serif;
    font-weight: bold;
    font-size: 92px;
    line-height: .85;
    letter-spacing: -1px;

}
.hero_title .alegre{
    color: palevioletred;
}
.hero_menu{
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: auto;
}
.hero_menu_item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    background-color: blueviolet;
    border-radius: 40px;
    padding: 7px 16px;
    width: fit-content;
    cursor: pointer;
    transition: background .2s;
    font-size: 12px;
}
.hero_menu_item:hover{
    background-color: purple;
}
.hero_menu_item svg{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
.hero_menu_item.active{
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
    background-color: blueviolet;
}
.hero_banner{
    position: relative;
    border-radius: 28px;
    min-height: 300px;
    overflow: hidden;
}
.hero_banner img{
    width: 100%;
    height: 650px;
    object-fit: cover;
    display: block;
}
.hero_banner_content{
  position: absolute;
  top: 12%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}
.hero_banner_content p{
    color: aliceblue;
    margin-bottom: 25px;
    font-size: 20px;
    text-shadow: 0 4px 12px rgba(0, 0,0, .35);
    line-height: 1.5;
}
.hero_banner_content p strong{
    color: #fff;
    font-weight: bold;
}
.btn_contato{
    display: inline-flex;
    align-items: center;
    gap: 14px;
    background-color: #24105c;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 8px 28px 8px 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;
}
.btn_contato::before{
    content: "➝";
    width: 42px;
    height: 42px;
    background-color: #d7a8ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .4s ease;
}
.btn_contato:hover::before{
    transform: translateX(10px);
}
.btn_contato:hover{
    transform: translateY(-2px);
}
.cardapio{
    padding: 80px 48px 60px;
}
.cardapio-title{
    font-family: "Croissant One", serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 48px;
    letter-spacing: -1px;
    color: #d7a8ff;
}
.carousel-wrapper{
    position: relative;
}
.carousel-track-outer{
    overflow: hidden;
    border-radius: 18px;
}
.carousel-track{
    display: flex;
    gap: 20px;
}
.card{
    flex: 0 0 calc(33.333% - 14px);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform .25s;
    background-color: #1a0a63;
}
.card:hover{
    transform: translateY(-4px);
}
.card-img-placeholder{
    position: absolute;
    background: linear-gradient(160deg, ddd5ff 0%, #d7a8ff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #24105c;
    inset: 0;
    
}