*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    color: rgb(176, 143, 207);
    overflow-x: hidden;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 48px ;
    position: fixed;
    background-color: rgb(243, 245, 245);
    top: 0;
    backdrop-filter: blur(12px);
    border-bottom: 2px solid rgba (108, 43, 255, 0.07 );
}
.nav_logo{
    display: flex;
    align-items: center;
    gap: 6px;
}
.nav-links{
    display: flex;
    gap: 32px;
}
.nav-links a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: blueviolet;
}
.nav-links a:hover{
    color: darkorchid;
}
.nav_actions{
    display: flex;
    align-items: center;
    gap: 14px;   
}
nav_cart{
    color: slategrey;
    display: flex;
    align-items: center;
    gap: 4px;
}
.btn_entrar{
    background-color: darkviolet;
    color: aliceblue;
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    gap: 6px;
    transform: background .2s, transformm .15s;
}
.btn_entrar:hover{
    background: purple;
    transform: translate(-1px);
}
.bttn_entrar svg{
    width: 14px; height: 14px;
}